@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
    font-family: 'Roboto', serif;
}

button {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.79);
    margin: 25px;
    margin-right: 0;
}


button:focus {
    
}

input {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    color: #212121;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
}

select {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    color: #212121;
    padding: 8px;
    font-size: 16px;
    background-color: inherit;
}

input:focus {
    border: none;
    border-bottom: 1px solid #03A9F4;
    box-shadow: 0px 1px 0px #03A9F4;
    transition: 0.25s;
    outline: none;
}

select:focus {
    outline: none;
}

::-webkit-input-placeholder {color:#9E9E9E;}
::-moz-placeholder          {color:#9E9E9E;}/* Firefox 19+ */
:-moz-placeholder           {color:#9E9E9E;}/* Firefox 18- */
:-ms-input-placeholder      {color:#9E9E9E;}

:hover::-webkit-input-placeholder {color:#BDBDBD;}
:hover::-moz-placeholder          {color:#BDBDBD;}/* Firefox 19+ */
:hover:-moz-placeholder           {color:#BDBDBD;}/* Firefox 18- */
:hover:-ms-input-placeholder      {color:#BDBDBD;}

:focus::-webkit-input-placeholder {color:#757575;}
:focus::-moz-placeholder          {color:#757575;}/* Firefox 19+ */
:focus:-moz-placeholder           {color:#757575;}/* Firefox 18- */
:focus:-ms-input-placeholder      {color:#757575;}

.button-blue {
    background-color: #03A9F4;
    color: white;
}

.button-blue:hover {
    background-color: #039BE5;
}