div.cap {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    color: #777;

}
div.border-h{
    margin-top: 3px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
div.text-green{
    color: #2E7D32;
}
div.text-red{
    color: red;
}
div.text-yellow{
    color: #aeea00;
}
tr.back-green{
    background-color: #2E7D32;
}

tr.back-red{
    background-color: #ac2925;
}
tr.back-yellow{
    background-color: yellow;
}
#list{
    background-color: #777;


}

.block{
    background-color: #f4f8f3;
    line-height: 100%;
    /*width: inherit;*/
    padding: 2% 4% 4% 4%;
    margin: 2% 2% 0 0;

}
.navbar{
    background-color: #f4f8f3;
}
table{
    background-color: #f4f8f3;
}
.hidden-alert{
    display: none;
    width: 70%;
    position: absolute;
    z-index: 1000;
    padding: 15px 10px 10px 10px;
    background-color: #f4f8f3;
    border: 1px solid #383838;
    border-bottom-color: #353535;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}
.btn-x>button{
    background-color: #ac2925 ;
    color: #f4f8f3 ;
    border: none;
}